body { 
    background-color: rgba(70, 95, 32, 0.6);
}

.ball {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}

#ball_decorator {
    float: left;
    width: 300px;
    border: 1px solid green;
    background-color: rgba(8, 128, 0, 0.5);
    color: greenyellow;
}

#ball_decorator .panel-control_header {
    width: 100%;
    height: 25px;
    background-color: rgba(173, 255, 47, 0.58);
    border: 1px solid #8ADE0A;
}

#ball_decorator .func_key_up { 
    color: red;
}


#ball_decorator H3 {
    text-align: center;
    color: greenyellow;
}

#ball_decorator div.sp-replacer,
#ball_decorator input { 
    float: right;
}

#ball_decorator > * {
    margin-bottom: 5px;
}

#ball_decorator > fieldset {
    width: 140px;
    padding: 5px 20px 5px 25px;
}

#ball_decorator > div > label {
    margin-right: 5px;
}

#ball_decorator #panel-drive { 
    text-align: center;
    margin-bottom: 15px;
}

#ball_decorator #panel-drive .label-success { 
    padding: 1.2em .6em 1.3em;
}

#ball_decorator #panel-drive #case_bottom { 
    padding: 1.2em 1em 1.3em;
}

#ball_decorator #panel-drive #case_left,
#ball_decorator #panel-drive #case_top {
        padding: 1.2em 0.9em 1.3em;
}

#ramka {
    width: 920px;
    height: 420px;
    float: left;
    border: 10px double #104A05;
    background-color: rgba(59, 154, 20, 0.33);
    border-radius: 35px;
}

#ramka > span#timer { 
    position: absolute;
    font-size: 270px;
    margin-left: 100px;
    color: rgba(5, 70, 5, 0.74);
}

#counter_beast {
    width: 55px;;
}